name: ETL Pipeline Automation

on:
    push:
        branches:
            - main

jobs:
    run-etl:
        runs-on: ubuntu-latest
    
        steps:

            #Step1 checkout repositry
            - name: Checkout code
              uses: actions/checkout@v2


            # Step 2: Setup Python
            - name: Set up python
              uses: actions/setup-python@v6
              with:
                python-version: '3.10'
            
             # Step 3: Install dependencies
            - name: Install dependencies
              run: pip install -r requirements.txt

             # Step 4: Run Extract
            - name: run extract
              run: python scripts/extract.py

            # Step 4: Run Transfrom
            - name: run transform
              run: python scripts/transform.py
            
            # Step 4: Run Load
            - name: run transform
              run: python scripts/load.py