name: ETL Pipeline Automation

on:
    push:
        branches:
            - main

jobs:
    extract-data:
        runs-on: ubuntu-latest
        steps:
            #Step1 checkout repositry
            - name: Checkout code
              uses: actions/checkout@v2

            # Step 2: Setup Python
            - name: Set up python
              uses: actions/setup-python@v5
              with:
                python-version: '3.10'
            
             # Step 3: Install dependencies
            - name: Install dependencies
              run: pip install -r requirements.txt

            # Step 4: Run Extract
            - name: run extract
              run: python scripts/extract.py


    transform-data:
        runs-on: ubuntu-latest
        needs: extract-data
    
        steps:

            #Step1 checkout repositry
            - name: Checkout code
              uses: actions/checkout@v2


            # Step 2: Setup Python
            - name: Set up python
              uses: actions/setup-python@v5
              with:
                python-version: '3.10'
            
            # Step 3: Install dependencies
            - name: Install dependencies
              run: pip install -r requirements.txt

            # Step 4: Run Transfrom
            - name: run transform
              run: python scripts/transform.py
    
    load-data:
        runs-on: ubuntu-latest
        needs: transform-data
    
        steps:
            #Step1 checkout repositry
            - name: Checkout code
              uses: actions/checkout@v2

            # Step 2: Setup Python
            - name: Set up python
              uses: actions/setup-python@v5
              with:
                python-version: '3.10'
            
            # Step 3: Install dependencies
            - name: Install dependencies
              run: pip install -r requirements.txt
            
            # Step 4: Run Load
            - name: run load
              run: python scripts/load.py